In [63]:
import pandas as pd 
import numpy as np
import random
import matplotlib.pyplot as plt
from scipy.fftpack import fft

# %matplotlib inline

In [51]:
data=pd.read_excel("../data/data.xlsx")
data=data.iloc[:,1:]
data

,MD,Data 1,Data 2,Data 3,Data 4,Data 5,Data 6,Data 7,Data 8,Data 9,...,Data 13,Data 14,Data 15,Data 16,Data 17,Data 18,Data 19,Data 20,Data 21,Data 22
0,1036.7,-999.25,-999.25,62.62,63.01,64.26,70.09,-999.25,-999.25,-999.25,...,-999.25,-999.25,-999.25,-999.25,-999.25,-999.25,-999.25,-999.25,-999.25,-999.25
1,1036.8,-999.25,-999.25,62.43,62.85,63.94,69.79,-999.25,-999.25,-999.25,...,-999.25,-999.25,-999.25,-999.25,-999.25,-999.25,-999.25,-999.25,-999.25,-999.25
2,1036.9,-999.25,-999.25,62.24,62.69,63.62,69.50,-999.25,-999.25,-999.25,...,-999.25,-999.25,-999.25,-999.25,-999.25,-999.25,-999.25,-999.25,-999.25,-999.25
3,1037.0,-999.25,-999.25,62.06,62.54,63.30,69.21,-999.25,-999.25,-999.25,...,-999.25,-999.25,-999.25,-999.25,-999.25,-999.25,-999.25,-999.25,-999.25,-999.25
4,1037.1,-999.25,-999.25,61.87,62.38,62.98,68.92,-999.25,-999.25,-999.25,...,-999.25,-999.25,-999.25,-999.25,-999.25,-999.25,-999.25,-999.25,-999.25,-999.25
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5369,1573.6,869.45,-999.25,-999.25,-999.25,-999.25,-999.25,-999.25,-999.25,-999.25,...,817.17,-999.25,-999.25,-999.25,-999.25,-999.25,-999.25,-999.25,-999.25,-999.25
5370,1573.7,869.45,-999.25,-999.25,-999.25,-999.25,-999.25,-999.25,-999.25,-999.25,...,817.17,-999.25,-999.25,-999.25,-999.25,-999.25,-999.25,-999.25,-999.25,-999.25
5371,1573.8,869.45,-999.25,-999.25,-999.25,-999.25,-999.25,-999.25,-999.25,-999.25,...,817.17,-999.25,-999.25,-999.25,-999.25,-999.25,-999.25,-999.25,-999.25,-999.25
5372,1573.9,869.45,-999.25,-999.25,-999.25,-999.25,-999.25,-999.25,-999.25,-999.25,...,817.17,-999.25,-999.25,-999.25,-999.25,-999.25,-999.25,-999.25,-999.25,-999.25
5373,1574.0,869.45,-999.25,-999.25,-999.25,-999.25,-999.25,-999.25,-999.25,-999.25,...,817.17,-999.25,-999.25,-999.25,-999.25,-999.25,-999.25,-999.25,-999.25,-999.25

In [52]:
data['Data 1'].value_counts()

Data 1
-999.25    253
 876.83    109
 880.20    104
 877.34     82
 876.85     81
          ...
 879.28      1
 879.31      1
 879.34      1
 879.36      1
 870.29      1
Name: count, Length: 1095, dtype: int64

In [87]:
def plot_data(start_node,frequency,name):
    return pd.DataFrame({'MD': data['MD'].values[start_node::frequency],name: data[name].values[start_node::frequency]})

In [89]:
data_new=plot_data(0,1000,'Data 1')